#first-paragraph {
    color: green;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: blue;
    font-family: verdana;
}

body {
    background-color: powderblue;
    border-style: grey;
    border-color: black;
}
