#first-paragraph {
    color: grey;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: grey;
    font-family: verdana;
    text-align: center;
}

body {
    
  background-image: url("http://hdw7.com/wallpapers/412/simple-soft-yellow-abstract-lines-hd-background.jpg");
}

table.center{
    text-align: "center";
    margin-left:auto;
    margin-right:auto;
}

hr{
    width: 40%;
}

   

