#first-paragraph {
    color: white;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: red;
    font-family: verdana;
    text-align: center;
}

body {
    
  background-image: url("http://hdw7.com/wallpapers/412/simple-soft-yellow-abstract-lines-hd-background.jpg");
}

